body,html {
	background-color: black; 
	margin: 0 auto;
	font-family: "Poppins";
	color: #ffffff;
}
a {
	text-decoration: none;
	color: black;
    background:white;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 2em;
}
section hr{
    float:left;
    width:40px !important;
}
button{
    padding:12px;
    padding-left:15px;
    padding-right:15px;
    background:transparent;
    color:white;
    border:1px solid white;
    transition:all 0.3s ease;
    cursor:pointer;
}
button:hover{
    border:1px solid white;
    color:black !important;
    background: white;
}
.header{
    background-image: url('./images/background.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgb(20,20,40);
    background-blend-mode: luminosity;
}
section{
    text-align:justify;
    padding:20px;
    padding-left:20px;
    padding-right:40px;
    padding-bottom:20px;
}
.header p, .header h5{
    max-width:600px !important;
    margin-left:10% !important;
    font-weight:400 !important;
    font-size:1.1em;
    color: white;
}
@media screen and (min-width :768px){
    button{
        width:200px;
    }
}
footer{
    padding-bottom:20px;
}