body, html{
    background-color:black;
    color:white;
    padding:0;
    margin: 0;
    height:100%;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100%;
}
#myMap,#pseudo {
    position: relative;
    width:100%;
    height: 800px;
}

.occupied{
    color:red;
}
a{
    text-decoration: none;
    background: white;
    color:black;

}
@media screen and (min-width :800px){
    #myMap,#pseudo{
        width: 60em !important;
    }
    #hdd{
        margin-left:30%;
    }
}
li {list-style-type: none;
border-bottom:1px solid white}
#dynamics{
    height:0px;
    overflow-y:scroll;
    padding-left:0px;
    margin-left:0px;
}
.cvr{
    position:fixed;
    z-index:4;
    opacity:0.6;
    background-color:grey;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    display:none;
}
.hdd{
    display:none;
    position:fixed;
    max-width:700px;
    z-index:6;
    top:10px;
    margin-left:2%;
    background:black;
    padding:20px;
}
#pseudo{
    display:none;
}
#searchname{
    background:black;
    border:0px;
    border-bottom:1px solid white;
    color:white;
}
#search{
    background:blue;
    color:white;
    font-family:"Poppins";
    padding:15px;
    padding-left:20px;
    border:0px;
    padding-right:20px;
    width:200px;
    font-weight:400;
    letter-spacing: 0.5px;
    transition:all 0.3s ease;
    cursor:pointer;
    margin-top:5px;
}
#search:hover{
    background: blue;
}